<div id="home_page_text">

<span id="bb_title">
	Book Borrow <br>
	<div id="subtext"> 
	Your Local Non-profit Book Sharing Website</div>
</span>

	<div id="login_container">
		<%= render 'login' %>
	</div>
	<div id="signupbutton">
		Create Account
	</div>

	<div id="signup_container">
	<%= render 'signup' %>
	</div>
	
</div>