<div id="outter_modal">
	<div id="modal">
		<div id="modal_header_container">
			<div id="modal_header"></div>
			<span id="close">&times;</span>
		</div>

		<div id="modal_body_container">
		</div>
		<div id="modal_message_container"></div>
			<div class="field">
			  <%= label_tag :modal_message, "Send a message:" %><br>
			  <%= text_area_tag :modal_message %>
			</div>

			<div class="field">
			  <%= link_to "Submit", "#" %>
			</div>
			
		</div>

	</div>
</div>