<div id="outter_modal">
	<div id="modal">
		<div id="modal_header_container">
			<div id="modal_header"></div>
			<span id="close">&times;</span>
		</div>

		<div id="modal_body_container"></div>
		<div id="modal_message_container">
			<div>
			  <%= label_tag :modal_message, "Message:" %><br><br>
			  <%= text_area_tag :modal_message, "", placeholder: "Send a message", rows: "12" %>
			</div>

		</div>
		<div id="send_cancel_container">
			<div id="modal_send_button">Send</div>
			<div id="modal_cancel_button">Cancel</div>	
		</div>
</div>