<div class="book_container">
	<div class="inner_book_container">
		<%= render 'search_bar_header' %>
		<div class="body-container">
			<%= render 'book_table' %>
		</div>
	</div>
	<%= render 'requestmodal' %>
</div>