<%= render 'search_bar_header' %>
<div class="book_container">
	<div class="inner_book_container">
		<div class="body-container">

			<div id="get-started-container">
				<table>
					<tr>
						<td><%= image_tag "get_cape.png", class: "getting-started-image" %></td>
						<td></td>
						<td><%= image_tag "wear_cape.png", class: "getting-started-image" %></td>
						<td></td>
						<td><%= image_tag "fly.png", class: "getting-started-image" %></td>
					</tr>
					<tr>
						<td>Searching For a Book</td>
						<td></td>
						<td>Requesting a Book</td>
						<td></td>
						<td>Posting a Book</td>
					</tr>
				</table>
			</div>

		<div id="home-page-title">
			BookBorrow is a website for people to post their books for other to borrow. 
			Building a community for the future, one book at a time.
		</div>	

			
		</div>
	</div>
</div>