#footer-outter-container {
	background-color: #111;
	color: #eee;
}

#footer-inner-container {
	font-family: Helvetica, sans-serif;
	margin: 0 auto;
	width: 60%;
	height: 100%;
	font-size: 0.9em;
}

#misc-links {
	
}